app-main-page {
  .main-page {
    padding: var(--main_spacing_2px) 0 0 0;
  }

  .navigation {
    background-color: var(--main_background_color);
  }

  .content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 var(--main_spacing_4px);
  }

  .top-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main_spacing_1px) var(--main_spacing_4px) var(--main_spacing_2px);
    height: 48px;
  }

  .left-label{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-block-start: var(--main_spacing_2px);
    padding-inline-end: var(--main_spacing_4px);
    padding-block-end: var(--main_spacing_2px);
    padding-inline-start: 0;
    color: var(--main-background_text_color);
    font-size: 24px;
    font-weight: bold;
  }


  .right-label, .bottom-label {
    display: flex;
    gap: 8px
  }

  .button-navigation:hover {
    align-content: center;
    //height: 48px;
  }

  #button-currency, #button-language, #button-help, #button-share{
    color: var(--main-background_text_color);
  }

  #button-login, #button-reg{
    text-align: center;
    background-color: var(--main-background_text_color);
    color: var(--text_color_log) !important;
  }
//TODO ADD .active when GIVEN type of site will be active
  //todo border: 1px solid var(--main-background_text_color);
  #button-bed, #button-airplane, #button-bedPlane, #button-rentCar, #button-trip, #button-taxi{
    color:var(--main-background_text_color);
    padding: var(--main_spacing_4px);
    border-radius: var(--radius_button_16px);
    height: 45px;
  }


}
