<div class="main-page navigation">
<!--  TODO DODAĆ TŁUMACZENIA/ ZROBIC TRANSLATE SERVICE-->
  <div class="content">
  <div class="top-label">
    <div class="left-label">
      <span>BookingApp</span>
    </div>
    <div class="right-label">
      <div class="button-navigation">
        <button mat-button id="button-currency">PLN</button>
      </div>
      <div class="button-navigation">
        <button mat-button id="button-language">
          <mat-icon>language</mat-icon>
        </button>
      </div>
      <div class="button-navigation">
        <button mat-button id="button-help">
          <mat-icon>help</mat-icon>
        </button>
      </div>
      <div class="button-navigation">
        <button mat-button id="button-share">
          Udostępnij obiekt</button>
      </div>
      <div class="button-navigation log">
        <button mat-button id="button-login"
        >Zaloguj</button>
      </div>
      <div class="button-navigation log">
        <button mat-button id="button-reg"
        >Zarejestruj się</button>
      </div>
    </div>
  </div>
  <div class="bottom-label">
    <div class="button-navigation bottom">
      <button mat-button id="button-bed">
        <mat-icon>bed</mat-icon>Pobyt</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button id="button-airplane">
        <mat-icon>connecting_airports</mat-icon>Loty</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button id="button-bedPlane">
        <mat-icon>luggage</mat-icon>Loty+Hotel</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button id="button-rentCar"><mat-icon>directions_car</mat-icon>
        Wynajem samochodów</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button id="button-trip">
        <mat-icon>tapas</mat-icon>Atrakcje</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button id="button-taxi">
        <mat-icon>local_taxi</mat-icon>Taksówki lotniskowe</button>
    </div>
  </div>
  </div>
</div>
<div class="main-page"></div>
<div class="main-page"></div>
