<div class="main-page navigation">
  <div class="content">
  <div class="top-label">
    <div class="left-label">
      <span>BookingApp</span>
    </div>
    <div class="right-label">
      <div class="button-navigation">
        <button mat-button>PLN</button>
      </div>
      <div class="button-navigation">
        <button mat-button>LANGUAGE</button>
      </div>
      <div class="button-navigation">
        <button mat-button>HELP</button>
      </div>
      <div class="button-navigation">
        <button mat-button>Udostępnij obiekt</button>
      </div>
      <div class="button-navigation log">
        <button mat-button>Zaloguj</button>
      </div>
      <div class="button-navigation log">
        <button mat-button>Zarejestruj się</button>
      </div>
    </div>
  </div>
  <div class="bottom-label">
    <div class="button-navigation bottom">
      <button mat-button>Pobyt</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button>Loty</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button>Loty+Hotel</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button>Wynajem samochodów</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button>Atrakcje</button>
    </div>
    <div class="button-navigation bottom">
      <button mat-button>Taksówki lotniskowe</button>
    </div>
  </div>
  </div>
</div>
<div class="main-page"></div>
<div class="main-page"></div>
