/* You can add global styles to this file, and also import other style files */
:root {
  //paddings
  //main-page
  --main_spacing_2px: 8px;


  //color
  --main_bacgkround_color: #003B95;
  --main-bacgkround_text_color: #FFFFFF;
}
